---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Timeline from "../components/Timeline.astro";
import Projects from "../components/Projects.astro";
import Blog from "../components/Blog.astro";
import Hackathons from "../components/Hackathons.astro";
import Contact from "../components/Contact.astro";

// 1. Import the icons you want to use
import { 
  Briefcase, 
  GraduationCap, 
  Code2, 
  Terminal, 
  Cpu, 
  Globe 
} from "@lucide/astro";

import { getEntry, render } from "astro:content";

const heroEntry = await getEntry("hero", "index");
const aboutEntry = await getEntry("about", "index");
const { Content: AboutContent } = await render(aboutEntry);
const generalEntry = await getEntry("general", "index");
const general = generalEntry.data;

// 2. Define your tech stack array
const myTechStack = [
  // { iconName: "simple-icons:react" },
  // { name: "Tailwind", iconName: "simple-icons:tailwindcss" },
  // { name: "Astro", iconName: "simple-icons:astro" },
  // { name: "TypeScript", iconName: "simple-icons:typescript" },
  // { name: "Node.js", iconName: "simple-icons:nodedotjs" },
  // { name: "MongoDB", iconName: "simple-icons:mongodb" },
  { iconName: "simple-icons:nodedotjs" },
  { iconName: "simple-icons:nestjs" },
  { iconName: "simple-icons:express" },
  { iconName: "simple-icons:postgresql" },
  { iconName: "simple-icons:mongodb" },
];
---

<Layout
  title={`${heroEntry.data.name} - Portfolio`}
  description={heroEntry.data.description}
>
  <main>
    <Hero hero={heroEntry.data} />

    <!-- <div class="hidden lg:block"> --></div>
     <div class="space-y-10">
      {
        general.showAboutSection && (
          <About
            title={aboutEntry.data.title}
            photo={aboutEntry.data.photo}
            Content={AboutContent}
            link={aboutEntry.data.link}
            techStack={myTechStack}  /* 3. Pass the array here */
          />
        )
      }

      <!-- Work Experience Section -->
      {
        general.showWorkSection && (
          <Timeline
            collection="work"
            variant="timeline"
            color="primary"
            icon={Briefcase}
            sectionTitle="Work Experience"
          />
        )
      }

      <!-- Projects Section -->
      {general.showProjectsSection && <Projects />}

      <!-- Blog Section -->
      {general.showBlogSection && <Blog />}


      <!-- Education Section -->
      {
        general.showEducationSection && (
          <Timeline
            collection="education"
            variant="list"
            color="secondary"
            backgroundColor="base-300"
            icon={GraduationCap}
            sectionTitle="Education"
          />
        )
      }

      <!-- Hackathons Section -->
      {general.showHackathonsSection && <Hackathons />}

      <!-- Contact Section -->
      {general.showContactSection && <Contact />}
    </div>
  </main>
</Layout>